[submodule "libfreeaptx"]
	path = libfreeaptx
	url = https://github.com/iamthehorker/libfreeaptx
[submodule "fdk-aac-stripped"]
	path = fdk-aac-stripped
	url = https://github.com/RFCreations/fdk-aac-stripped.git
